/*
Css pour index2.html
*/

.page
{
    width: auto;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}
.infophoto
{
    height: 200px;
}
.info
{
    float: left;
}
.photo
{
    float: right;
}
.section
{
    margin-bottom: 35px;
    text-align: justify;
}

.sec-gauche
{
    float: left;
    font-weight: bold;
}




.sec-droite
{
    margin-left: 150px;
    margin-top: 30px;
}

h2
{
    margin-bottom: 15px;
    font-size: 25px;
    color: #3388bb;
    border-bottom: 2px solid #3388bb;
}
